@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');       
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');     
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap'); 
:root{
    --white--bgcolor:#EEEEEE;
    --text-color:#222831;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
body,
html{
    width: 100%;
    height: 100vh;
    background-color: var(--white--bgcolor);
    scroll-behavior: smooth;
}
/* nav start */
nav{
    width: 100%;
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color:#393E46 ;
    align-items: center;
    position: sticky;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo img{
    width: 50px;
}
nav .logo h1{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color:#00ADB5;
    font-weight: 200;
    margin-left: -5px;
}
nav .nav-list ul{
    display: flex;
    list-style: none;
    gap: 60px;
}
nav .nav-list ul li{
    color: #EEEEEE;
    background-color: transparent;
    padding: 5px;
    cursor: pointer;
    transition: 0.2s;
}
nav .nav-list ul li:hover{
    background-color: #00ADB5;
    padding: 5px;
    border-radius: 100px;
    color: #222831;
    
}
nav .nav-btn{
    width: 200px;
    padding: 5px;
    background-color: #00ADB5;
    border: none;
    color: var(--white--bgcolor);
    border-radius: 10px;
    transition: 0.2s;
    font-size: 16px;
}
nav .nav-btn:hover{
    background-color: #02878e;
}
nav .nav-btn .fa-solid{
    margin-right: 10px;
    font-size: 16px;
    background-color: #222831;
    padding: 5px;
    border-radius: 100%;
}
/* nav end */
/* header start */
.header{
    background-image: url(../images/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.header .header-text span{
    color: #ffffff;
    font-size: 18px;
}
.header .header-text h1{
    color: #ffffff;
    font-size: 40px;
    margin-bottom: 20px;
    text-transform: capitalize;
}
.header .search{
    width: 60%;
    height: 30px;
    padding: 20px;
    display: flex;
    background-color: #EEEEEE;
    border-radius: 10px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0 0 15px rgba(68, 68, 68, 0.693);
    position: relative;
}
.header .search .areas select{
    background: transparent;
    border: none;
    height: 100%;
    margin-left: -40px;
    font-size: 16px;
    color: #222831;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.header .search .areas option{
    background: #ffffff80;
}
.header .search .areas::after{
    content: '';
    height: 30px;
    width: 2px;
    background-color: #222831;
    position: absolute;
    left: 220px;
    bottom: 20px;
    
}
.header .search .location input{
    background-color: transparent;
    border: none;
    width: 250px;
    outline: none;
    height: 60px;
    font-size: 16px;
    color: #222831;
    font-weight: 600;
    margin-left: 20px;
}
.header .search .location::after{
    content: '';
    height: 30px;
    width: 2px;
    background-color: #222831;
    position: absolute;
    left:550px;
    bottom: 20px;
    
}
.header .price select{
    background: transparent;
    border: none;
    height: 100%;
    margin-left: -20px;
    font-size: 16px;
    color: #222831;
    font-weight: 600;
    outline: none;
    cursor: pointer;
}
.header .price select option{
   width: 200px;
}
.header .search-button button{
    margin-right: -110px;
    width: 200px;
    height: 70px;
    border: none;
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: 600;
    background-color: #00ADB5;
    border-radius: 0px 10px 10px 0px;
    transition: 0.2s;
}
.header .search-button button:hover {
    background-color: #02878e;
    color: #EEEEEE;
}
.header .search-button button .fa-solid{
    font-size: 18px;
    margin-right: 20px;
    color: #ffffff;
}
.header .icons{
    margin-top: 100px;
    display: flex;
    gap: 40px;
}
.header .icons .icons-content{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.header .icons .icons-content .fa-solid{
    background-color: #EEEEEE;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    color: #00ADB5;
    font-size: 28px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;   
}
.header .icons .icons-content span{
    border-radius: 5px;
    font-size: 16px;
    color: #00ADB5;
    font-weight: 600;
    padding: 5px;
    background-color: #222831;
}
.header .icons .icons-content span:hover{
    background-color: #eeeeeeb5;
    color: #222831;
}
/* header end */

/* sec-1 start  */
.sec-1 .sec-1-text{
    margin-top: 40px;
    text-align: center;
    margin-bottom: 60px;
}
.sec-1 .sec-1-text h1{
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #222831;
    margin-bottom: 5px;
}
.sec-1 .sec-1-text span{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #393e46b1;
    font-weight: 600;
}
.sec-1 .container{
    width: 80%;
    background-color: #222831;
    margin: auto;
    height: auto;
    padding: 30px;
    border-radius: 10px;
    /* display: flex; */
    flex-direction: row;
    position: relative;
}
.sec-1 .container .side{
    display: flex;
    margin-bottom: 35px;
    align-items: center;
    justify-content: center;
    background-color: #393E46;
    width: 25%;
    height:100px;
    margin-top: -30px;
    margin-left: -30px;
    transition: 0.2s;
}
.sec-1 .container .side:hover{
    background-color: #222831;
}
.sec-1 .container .side a{
    color: #00ADB5;
    text-decoration: none;
    font-size: 18px;
}
.sec-1 .container .side a .fa-solid{
    color: #222831;
    border-radius: 100px;
    font-size: 25px;
   align-items: flex-start;
   background-color: #00ADB5;
   padding: 10px;
   margin-right: 10px;
}
.sec-1 .container .side:nth-child(1){
    background-color: #222831;
    border-radius: 10px 0 0 0 ;
}
.sec-1 .container .side:nth-child(5){
    border-radius: 0px 0 0 10px ;
    margin-bottom: -30px;
}
.sec-1 .container .main-content{
    width: 70%;
    position: absolute;
    top: 10%;
    left: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-1 .container .main-content .text h2{
    width: 60%;
    font-size: 22px;
    color: #00ADB5;
    margin-bottom: 10px;
}
.sec-1 .container .main-content .text p{
    width: 60%;
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #eeeeee98;
}
.sec-1 .container .main-content .text button{
    background-color: #00ADB5;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #EEEEEE;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 14px;
}
.sec-1 .container .main-content .text button:hover{
    background-color: #02878e;
}
.sec-1 .container .main-content .text button i{
    margin-right: 5px;
}
.sec-1 .container .main-content img{
    margin-top: -15px;
    margin-right: 30px;
    align-items: flex-end;
    width: 300px;
    border-radius: 5px;
}
hr{
    background-color: #222831;
    height: 1.5px;
    margin-top: 40px;
    border: none;
}
/* sec-1 end */
/* sec-2 start */
.sec-2 .sec-2-text{
    margin-top: 30px;
    text-align: center;
}
.sec-2 .sec-2-text h1{
    font-size: 32px;
    text-transform: capitalize;
    letter-spacing: 2px;
    color: #222831;
    margin-bottom: 5px;
    text-align: center;
}
.sec-2 .sec-2-text span{
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #393e46b1;
    font-weight: 600;
}

.sec-2 .sec-2-container{
    margin: 80px;
}
.sec-2 .sec-2-container .cards{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.sec-2 .sec-2-container .cards .card{
    background-color: #ffffff;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    gap: 60px;
    border-radius: 10px;
    box-shadow: 0 0 5px #393e46a7;
}
.sec-2 .sec-2-container .cards .card img{
    
    width: 450px;
    border-radius: 10px 0 0px 10px;
}
.sec-2 .sec-2-container .cards .card .card-text{
    margin-left: 5%;
}
.sec-2 .sec-2-container .cards .card .card-text h3{
    margin-top: 40px;
    margin-bottom: 20px;
    color: #222831;
    font-size: 32px;
}
.sec-2 .sec-2-container .cards .card .card-text p{
    color: #393e46c4;
    margin-bottom: 5px;
    font-size: 14px;
}
.sec-2 .sec-2-container .cards .card .card-text  span{
    margin-right: 10px;
}
.sec-2 .sec-2-container .cards .card .card-text .fa-solid{
    color: #02878e;
    margin-right: 5px;
}
.sec-2 .sec-2-container .cards .card .card-review{
    margin-top: 40px;
    margin-left: 10%;
}
.sec-2 .sec-2-container .cards .card .card-review .fa-solid{
    color: #f2c230  ;
}
.sec-2 .sec-2-container .cards .card .card-review .btn{
    margin-top: 70%;
}
.sec-2 .sec-2-container .cards .card .card-review .btn button{
    background-color: #00ADB5;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: #222831;
    font-weight: 500;
    cursor: pointer;
}
.sec-2 .sec-2-container .cards .card .card-review .btn button:hover{
    background-color: #02878e;
}
.sec-2 .sec-2-container .cards .card .card-review .btn button .fa-regular{
    margin-right: 5px;
}
.sec-2 .sec-2-container .dots{
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.sec-2 .sec-2-container .dots .dot{
    background-color: #00ADB5;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    display: flex;
    flex-direction: row;
}
.sec-2 .sec-2-container .dots .dot:nth-child(1){
    background-color: #02878e;
}
/* sec-2 end */
/* footer start */
.footer .footer-content{
    padding: 40px;
}
.footer .footer-content .footer-sec-1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: left;
    margin-bottom: 10px;
}
.footer .footer-content .footer-sec-1 .logo img{
    width: 80px;
}
.footer .footer-content .footer-sec-1 .logo a{
    font-size: 32px;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    color: #00ADB5;
}
.footer .footer-content .footer-sec-1 .logo p{
 margin-top: 5px;   
 font-size: 14px;
 color: #393E46;
}
.footer .footer-content .footer-sec-1 .content h3{
    color: #00ADB5;
    font-size: 22px;
    margin-bottom: 20px;
}
.footer .footer-content .footer-sec-1 .content ul{
    list-style: none;
    font-size: 16px;
    color: #393E46;
}
.footer .footer-content .footer-sec-1 .content ul li{
    margin-bottom: 5px;
}
.footer .footer-content .footer-sec-1 .content ul li:hover{
    color: #00ADB5;
    cursor: pointer;

}
.footer .footer-content .footer-sec-1 .content.cont-1{
    margin-top: 50px;
    margin-left: -30px;
}
.footer .footer-content .footer-sec-1 .content p{
    color: #393E46;
    margin-bottom: 5px;
}
.footer .footer-content .footer-sec-1 .content p:hover{
    color: #00ADB5;
    cursor: pointer;
}
.footer .footer-content .footer-sec-1 .content p .fa-solid{
    font-size: 16px;
    margin-right: 5px;
}
/* footer end */
/* copyright start */
.copyright{
    margin-top: 10px;
    text-align: center;
    margin-bottom: 10px;
}
.copyright p{
    color: #393E46;
}
.copyright span{
    color: #02878e;
}
/* copyright end */

/* media query  start*/
@media (max-width:1199px){
    .header .search {
        width: 60%;
        height: 30px;
        padding: 20px;
    }
    .header .search .areas select {
        margin-left: -60px;
        font-size: 14px;
    }
    .header .search .location input {
        font-size: 14px;
        margin-left: -30px;
        width:210px;
    }
    .header .search .areas::after {
        left: 160px;
        bottom: 20px;
    }
    .header .search .location::after {
        left:  390px ;
        bottom: 20px;
    }
    .header .price select {
        margin-left: -50px;
        font-size: 14px;
    }
    .header .search-button button {
        /* margin-right: -85px; */
        width: 170px;
    }
    .header .icons .icons-content .fa-solid {
        width: 20px;
        height: 20px;
        font-size: 22px;
        padding: 20px;
        margin-top: -30px;
    }
    .header .icons .icons-content span {
        font-size: 14px;
    }
    .sec-1 .container {
        width: 60%;
    }
    .sec-1 .container .side {
        width: 20%;
        height: 70px;
    }
    .sec-1 .container .side a {
        color: #00ADB5;
        text-decoration: none;
        font-size: 14px;
    }
    .sec-1 .container .side a .fa-solid {
        font-size: 16px;
        padding: 8px;
        margin-right: 5px;
    }
    .sec-1 .container .main-content .text h2 {
        margin-right: -10px;
        font-size: 18px;
    }
    .sec-1 .container .main-content .text p {
        font-size: 12px;
        margin-bottom: 20px;
        font-weight: 400;
        color: #eeeeee98;
    }
    .sec-1 .container .main-content img {
        width: 200px;
    }
    .sec-2 .sec-2-container .cards .card {
        width: 470px;
        height:500px;
        display: flex;
        flex-direction:column;
        align-items: center;
        padding: 5px;
    }
    .sec-2 .sec-2-container .cards .card img {
        width: 455px;
        border-radius: 5px;
        margin-top: 7px;
    }
    .sec-2 .sec-2-container .cards .card .card-text{
        margin-top: -40px;
       align-items: flex-start;
       margin-left: -200px;
    }
    .sec-2 .sec-2-container .cards .card .card-text h3 {
        margin-top: 0px;
        margin-bottom: 5px;
        color: #222831;
        font-size: 20px;
    }
    .sec-2 .sec-2-container .cards .card .card-review {
        margin-top: -180px;
        margin-left: 250px;
    }
    .sec-2 .sec-2-container .cards .card .card-review .btn {
        margin-top: 20px;
        padding: 5px;
    }
    .sec-2 .sec-2-container .cards{
        display: flex;
        flex-direction:row;
        flex-wrap: wrap;
        gap: 30px;
    }
    
}

/* media query end */